<%- include('partials/header',{allGenres}) %>
    <div class="box-container">
        <div class="main" style="margin: 4em 0;">
            <div class="main-film-box-container">
                <div class="main-film-select" style="display: flex;">
                    <% if (_sortCategory.enable) { %>
                        <% if (_sortCategory.category === "tv") { %>
                            <h3><a href="/" style="text-decoration: none; color:#666464;">Discover</a></h3>
                            <h3><a href="?_sort-category&category=tv" style="text-decoration: none; color:#D8D8D8">TV</a></h3>
                            <h3><a href="?_sort-category&category=high-rated-movie" style="text-decoration: none; color:#666464">High Rated</a></h3>
                         <% } else if (_sortCategory.category === "high-rated-movie") { %>
                            <h3><a href="/" style="text-decoration: none; color:#666464;">Discover</a></h3>
                            <h3><a href="?_sort-category&category=tv" style="text-decoration: none; color:#666464">TV</a></h3>
                            <h3><a href="?_sort-category&category=high-rated-movie" style="text-decoration: none; color:#D8D8D8">High Rated</a></h3>
                        <% } %>  
                    <% } else { %>
                        <h3><a href="/" style="text-decoration: none; color:#D8D8D8;">Discover</a></h3>
                        <h3><a href="?_sort-category&category=tv" style="text-decoration: none; color:#666464">TV</a></h3>
                        <h3><a href="?_sort-category&category=high-rated-movie" style="text-decoration: none; color:#666464">High Rated</a></h3>
                    <% } %>
                </div>
                <br>
                <hr style="width: 80%; text-align: center; margin: auto; color: white;">
                <div class="main-films-container">
                    <% recommendingMovies.results.forEach(recommendingMovie => { %>
                        <a class="film-card" style="text-decoration: none;" href="/movie/watch/<%= recommendingMovie.id %>">
                            <div class="card darker-on-hover" style="transition: .5s;">
                                <div class="main-film-thumbnail">
                                    <img src="https://image.tmdb.org/t/p/w500/<%= recommendingMovie.poster_path %>" class="card-img-top" alt="...">
                                    <% if (typeof(recommendingMovie.release_date)  === "string") { %>
                                        <% const [y,m,d] = recommendingMovie.release_date.split('-') %>
                                        <p class="release-year"><%= y %></p>
                                    <% } else { %> 
                                        <p class="release-year">Coming Soon</p>
                                    <% } %>
                                </div>
                                <div class="card-body">
                                    <p class="card-text title" style="text-align: center; color: black;"><%= recommendingMovie.title %></p>
                                </div>
                          </div>
                        </a> 
                    <% }) %>
                </div>
                <% if (recommendingMovies.total_pages > 1) { %>
                    <a style="flex-grow:.75; margin-top: 1em;" class="btn btn-light" href="/list/discover?page=1">See More</a>
                <% } %>
            </div>




            <div class="side-bar" style="margin-right: 4em">
                <h5 style="margin-bottom: 1.5em">Trending Movies</h5>
                <% for( let i = 0; i < 5; i++ ) { %>
                    <a href="/movie/watch/<%= weeklyTrendingMovies.results[i].id %>" style="text-decoration: none; color: black;">
                        <div class="weekly-trending-movies-card">
                            <div class="card mb-3 darker-on-hover" style="max-width: 440px; border: 0; transition: .5s;">
                                <div class="row g-0">
                                <div class="col-md-6" style="width: 30%;">
                                    <div class="sidebar-thumbnail" style="position: relative">
                                        <img src="https://image.tmdb.org/t/p/w500/<%= weeklyTrendingMovies.results[i].poster_path %>" class="img-fluid rounded-start rounded" alt="...">
                                        <p style="display: inline-block;
                                        position: absolute;
                                        padding: 2px 5px;
                                        font-size: 13px;
                                        background-color: #FFD523;
                                        border-radius: 100%;
                                        top:2px;
                                        left:2px;
                                        margin: 0;">#<%= i + 1 %></p>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-left: 4%; flex-grow: 1;">
                                    <div class="card-body" style="padding-top: 0 !important;">
                                    <p class="card-title" style="font-weight: bold;"><%= weeklyTrendingMovies.results[i].title %></p>
                                    <p class="card-text">Number</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>


<%- include('partials/footer') %>
