<%- include('partials/header') %>
    <div class="main" style="display: contents;">
        <div class="movie-details-heading" style="width: 100%;">
            <img class="text-light movie-details-heading-background-img" style="text-align: center;" width="75%" src="https://image.tmdb.org/t/p/original/<%= movieDetailsData.backdrop_path %>" alt="">
            <h3 class="text-light absolute-position movie-details-heading-title"><%= movieDetailsData.title %></h3>
            <p class="text-light absolute-position movie-details-heading-overview"><%= movieDetailsData.overview %></p>
            <p class="text-light absolute-position movie-details-heading-release-date"><%= movieDetailsData.release_date %></p>
        </div>
    
        <div>
            <iframe
            id="player"
            name="player"
            width="800"
            height="400"
            scrolling="no"
            style="overflow:hidden"
            webkitAllowFullScreen mozAllowFullScreen allowFullScreen
            frameborder="0"
            src="<%= movieURL %>">
            </iframe>
        </div>
    </div>


<%- include('partials/footer') %>